/*
* @Author: Administrator
* @Date:   2017-09-07 17:08:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-07 17:11:23
*/
h1,h3{
	color: #723C8B;
	width: 100%;
	text-align: center;
}
h3{
	color: pink;
}
